/*  ===========================================     Preloader           =========================================================   */
@mixin animation($property) {
    -moz-animation: ($property);
    -o-animation: ($property);
    -webkit-animation: ($property);
    animation: ($property);
}

@mixin circle-animation {
    -moz-animation: move 1.3s infinite;
    -o-animation: move 1.3s infinite;
    -webkit-animation: move 1.3s infinite;
    animation: move 1.3s infinite;
}

@mixin transform($property) {
    -moz-transform: $property;
    -o-transform: $property;
    -webkit-transform: $property;
    transform: $property;
}

.circle {
   @include circle-animation;
}
@keyframes move {
    0% {left: 0;}
    50% {
        left: 100%;
        @include transform(rotate(450deg));
        width: 150px; 
        height: 150px;
    }
    75% {
        left: 100%; 
        @include transform(rotate(450deg));
        width: 150px; 
        height: 150px;
    }
    100% {right: 100%;}
}
@-webkit-keyframes move {
    0% {left: 0;}
    50% {
        left: 100%; 
        @include transform(rotate(450deg)); 
        width: 150px; 
        height: 150px;
    }
    75% {
        left: 100%; 
        @include transform(rotate(450deg)); 
        width: 150px; 
        height: 150px;
    }
    100% {right: 100%;}
} 

/*  ===========================================     Nav animation       =========================================================   */
.animate-nav {
    @include animation(animate1 .3s ease);
}
@keyframes animate1 {
    0% {
        width: 20px;
    }
    100% {
        width: 100%;
    }
}
.animate-nav-close {
    @include animation(navAnimate2 .3s ease);
}
@-webkit-keyframes navAnimate2 {
    0% {
        width: 100%;
    }
    100% {
        width: 20px;
    }
}
@keyframes navAnimate2 {
    0% {
        width: 100%;
    }
    100% {
        width: 20px;
    }
}

/*  ==========================================        Popup         ================================================================    */
.animate-popup::before {
    content: '';
    position: absolute !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    color: black !important;

    position: relative;
    @include animation(popup-aminate .5s ease);
}
.animate-popup > i {
    z-index: 10;
    color: black;
}
@-webkit-keyframes popup-aminate {
    0% {
        width: 0;
    }
    50% {
        width: 70%
    }
    100% {
        width: 100%;
    }
}
@keyframes popup-aminate {
    0% {
        width: 0;
    }
    50% {
        width: 70%
    }
    100% {
        width: 100%;
    }
}

.animate-popup-close::before {
    content: '';
    position: absolute !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    color: black !important;
    @include animation(animate2 .5s ease);
}
@-webkit-keyframes animate2 {
    0% {
        width: 100%;
    }
    50% {
        width: 50%
    }
    100% {
        width: 0;
    }
}
@keyframes animate2 {
    0% {
        width: 100%;
    }
    50% {
        width: 50%
    }
    100% {
        width: 0;
    }
}

/* ==========================================      Social icons in nav        ======================================================     */
.animate-3 {
    @include animation(animate3 .1s ease);
    position: relative;
}
@-webkit-keyframes animate3 {
    0% {
        top: 20px;
    }
    100% {
        top: 0;
    }
}
@keyframes animate3 {
    0% {
        top: 20px;
    }
    100% {
        top: 0;
    }
}

.animate-4 {
    @include animation(animate4 1.5s ease);
    position: relative;
}
@-webkit-keyframes animate4 {
    0% {
        top: 25px;
    }
    100% {
        top: 0;
    }
}
@keyframes animate4 {
    0% {
        top: 25px;
    }
    100% {
        top: 0;
    }
}

.animate-5 {
    @include animation(animate5 2s ease);
    position: relative;
}
@-webkit-keyframes animate5 {
    0% {
        top: 30px;
    }
  
    100% {
        top: 0;
    }
}
@keyframes animate5 {
    0% {
        top: 30px;
    }
  
    100% {
        top: 0;
    }
}

.animate-6 {
    @include animation(animate6 2s ease);
    position: relative;
}
@-webkit-keyframes animate6 {
    0% {
        top: 35px;
    }
  
    100% {
        top: 0;
    }
}
@keyframes animate6 {
    0% {
        top: 35px;
    }
  
    100% {
        top: 0;
    }
}

/* ==========================================      Div Text in Intro        =====================================================    */
.animate-7 {
    @include animation(animate7 1s ease-in);
    position: relative;
}
@-webkit-keyframes animate7 {
    0% {
        top: 100px;
        opacity: 0.05;
        filter: alpha(opacity=5);
    }
    100% {
        top: 0;
        opacity: 1;
    }
}
@keyframes animate7 {
    0% {
        top: 100px;
        opacity: 0.05;
        filter: alpha(opacity=5);
    }
    100% {
        top: 0;
        opacity: 1;
    }
}


.animate-8 {
    @include animation(animate8 .5s both);
    position: relative;
}
@-webkit-keyframes animate8 {
    from {
        opacity: 0;
        visibility: hidden;
        @include transform(translate3d(0, 40px, 0));
      }
    
      to {
        opacity: 1;
        visibility: visible;
        @include transform(none);
      }
}
@keyframes animate8 {
    from {
        opacity: 0;
        visibility: hidden;
        @include transform(translate3d(0, 40px, 0));
      }
    
      to {
        opacity: 1;
        visibility: visible;
        @include transform(none);
      }
}

.animated {                            /* for smooth in */
    opacity: 0;
    visibility: hidden;
}

.jump {
    @include animation(jump 1.5s ease 0s infinite normal);
}
@-webkit-keyframes jump {
    0%{
        @include transform(translateY(0));
    }
    20%{
        @include transform(translateY(0));
    }
    40%{
        @include transform(translateY(-30px));
    }
    50%{
        @include transform(translateY(0));
    }
    60%{
        @include transform(translateY(-15px));
    }
    80%{
        @include transform(translateY(0));
    }
    100%{
        @include transform(translateY(0));
    }
}

@keyframes jump {
    0%{
        @include transform(translateY(0));
    }
    20%{
        @include transform(translateY(0));
    }
    40%{
        @include transform(translateY(-30px));
    }
    50%{
        @include transform(translateY(0));
    }
    60%{
        @include transform(translateY(-15px));
    }
    80%{
        @include transform(translateY(0));
    }
    100%{
        @include transform(translateY(0));
    }
}