$main-color: #030303;
$secondary-color: #ba0000;
$third-color: #111;
$heading-color: #000;
$main-font-color: #fff;
$secondary-font-color: #ddd;
$paragraph-color: #b7b7b7;
$copyright-color: #666;

$popup-color: #888;