#cv {
    padding: 100px 0;
    background-image: url('../../img/cv.jpg');
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    height: 100vh;
 }
 

 #cv {
     & > .wrapper {
        background-color: rgba(0,0,0,.8);
     }
 }