#cv {
    padding: 100px 0;
    background: $main-color;
    background-image: url('./img/abstract-art-artistic-1851447.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 }