#intro {
    height: 100vh;
    background-color: $main-color;
    display: flex;
    align-items: center;
    background-image: url('../../img/pic1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

%full-height {
    height: 100%;
    position: relative;
}

.intro-text {
    @extend %full-height;
}

.intro-text {
    > .row {
        @extend %full-height;
    }
}

.intro-text {
    > div {
         > div {
            > h4 {
                font-weight: 600;
                font-size: 22px;
                color: $main-font-color;
                letter-spacing: 2px;
            }
        }
    }
}

.intro-text {
    > div {
        > div {
            > h1 {
                font-weight: 900;
                font-size: 70px;
                margin-top: 15px;
                margin-bottom: 20px;
                display: inline-block;
                color: $main-font-color;
                letter-spacing: 2px;
            }
        }
    }
}

.intro-text {
    > div {
        > div {
            > h5 {
                font-weight: 500;
                color: $secondary-font-color;
                letter-spacing: 2px;
            }
        }
    }
}

.desc {
    font-weight: 600;
    font-size: 18px;
    color: $main-font-color;
    display: block;
}